.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.md-typeset__scrollwrap {
    text-align: center;
}

.md-typeset__table {
    margin-left: auto;
    margin-right: auto;
}